<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
    </article>
    <div class="card-body">
        <p><a href="{{ path('admin_categories_index')}}">Liste des Catégories</a></p>
        <p><a href="{{ path('admin_categories_add')}}">Ajouter une Catégorie</a></p>
    </div>
    <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
    </article>
    <div class="card-body">
        <p><a href="{{ path('admin_products_index')}}">Liste des produits</a></p>
        <p><a href="{{ path('admin_products_add')}}">Ajouter un produit</a></p>
    </div>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
    </article>
    <div class="card-body">
        <p><a href="{{ path('admin_users_index')}}">Liste des Utilisateurs</a></p>
        <p><a href="{{ path('admin_users_add')}}">Ajouter un Utilisateur</a></p>
    </div>
</aside>