
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('main') }}">e-commerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Catégories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbar">
                    {% for categories in categoriesNavbar() %}
                    
                        <li><a class="dropdown-item" href="{{ path('categories_list', {'id': categories.id}) }}">{{ categories.name }}</a></li>
                    {% endfor %}
                </ul> 
                <li><a class="dropdown-item" href="{{ path('favoris_favoris_recup') }}">Favoris</a></li>
            </ul>
            <form class="pos d-flex me-5" role="search" action="{{ path('products_search') }}" method="get">
              <input class="form-control me-1" type="search" name="searchTermFromNavbar" placeholder="Search" aria-label="Search">
            
              <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
                <button type="submit" class="btn btn-primary me-5">Rechercher</button>
            </form>
           
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                  {% if is_granted('ROLE_PRODUCT_ADMIN') %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
                    </li>

                  {% endif %}
                
                    <li class="nav-item">
                      <!-- {% if not is_granted('ROLE_ADMIN') %} -->
                        <a class="nav-link" href="{{path('profile_index', {'id': app.user.id})}}">Mon compte</a>
                        <!-- {% endif %}  -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {{path('app_logout')}} ">Me déconnecter</a>
                    </li>
                    <li class="nav-item">
                      {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('profile_delete', {'id': app.user.id}) }}" class="btn btn-danger">Supprimer mon compte</a>
                        {% endif %}
                  </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{path('app_register')}} ">M'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {{path('app_login')}} ">Me connecter</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

