{% extends 'base.html.twig' %}
{% block title %}Compte{% endblock %}
{% block body %}
<h1>Bienvenue sur votre page de compte, {{ app.user.firstName }}!</h1>
    <p>Voici quelques détails sur votre compte :</p>
    <ul>
        <li>Prénom: {{ app.user.firstName }}</li>
        <li>Nom: {{ app.user.lastName }}</li>
        <li>Email: {{ app.user.email }}</li>
        <li>Adresse: {{ app.user.address }}</li>
        <li>Code postal: {{ app.user.zipcode }}</li>
        <li>Pays: {{ app.user.city }}</li>
    </ul>
{% endblock %}
