{{ form_start(userForm) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.password) }}
    {{ form_row(userForm.roles) }}
    {{ form_row(userForm.lastname) }}
    {{ form_row(userForm.firstname) }}
    {{ form_row(userForm.address) }}
    {{ form_row(userForm.zipcode) }}
    {{ form_row(userForm.city) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(userForm) }}