{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des produits de la catégorie {{ category.name }}</h1>
            </div>
            {% for product in products.data %}
    <div class="col-3 mb-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                
                {% if product.images|length > 0 %}
                <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name) }}" 
                class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <h2 class="card-title text-center">{{ product.name }}</h2>
            <p class="card-text text-center">{{ product.price }} €</p>
            <p class="card-text">{{ product.description }}</p>
            <a href="{{ path('products_details', {"slug": product.slug }) }}" class="btn btn-primary">Voir les détails</a>
            
                    {% if app.user is not null %}
                    {% for favoris in product.favoris %}
                        {% if favoris.id == app.user.id %}
                            <a href="{{ path('favoris_remove_favorite', {'id': product.id, 'idCategories': product.categories.id}) }}"><i class="fa-solid fa-heart heart ms-5"></i></a>
                        {% else %}
                        <a href="{{ path('favoris_list', {'id': product.id, 'idCategories': product.categories.id}) }}"><i class="fa-regular fa-heart ms-5"></i></a>
                        {% endif %}
                    {% else %}
                    <a href="{{ path('favoris_list', {'id': product.id, 'idCategories': product.categories.id}) }}"><i class="fa-regular fa-heart ms-5"></i></a>
                    {% endfor %}
                        {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
                    {% endfor %}
               
            {% set path = 'categories_list' %}
            {% set slug = category.id %}
            {% set pages = products.pages %}
            {% set currentPage = products.page %}
            {% include "_partials/pagination.html.twig" %}


        </section>
    </main>
    
{% endblock %}
