{% extends "base.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "_partials/adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des catégories</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Parent</th>
                         
                            <th>Ordre</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                {% if category.parent is not null %}
                                    {{ category.parent }}
                                {% endif %}
                                
                            </td>

                            <td>
                                <a href="{{ path('admin_categories_edit', {id: category.id}) }}" class="btn btn-success">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ path('admin_categories_delete', {id: category.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}
